<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Sports Complex IMS</title>
   <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
   <h1>Sports Complex Inventory Management System</h1>
   
   <form id="checkOutForm">
      <label for="cardID">Card ID:</label>
      <input type="text" id="cardID" name="cardID" autofocus required>

      <label for="equipment">Select Equipment:</label>
      <select id="equipment" name="equipment">
         <!-- Options will be populated dynamically -->
      </select>

      <button type="submit">Check Out</button>
   </form>

   <script>
      document.addEventListener('DOMContentLoaded', function() {
         const equipmentSelect = document.getElementById('equipment');
         
         // Fetch equipment data from server and populate options dynamically.
         fetch('/get_equipment')
            .then(response => response.json())
            .then(data => {
               data.forEach(equipment => {
                  const option = document.createElement('option');
                  option.value = equipment.Equipment_ID;
                  option.textContent = `${equipment.Sport} - ${equipment.Name}`;
                  equipmentSelect.appendChild(option);
               });
            });

         document.getElementById('checkOutForm').addEventListener('submit', function(event) {
            event.preventDefault();
            
            const cardID = document.getElementById('cardID').value;
            const equipmentID = document.getElementById('equipment').value;

            fetch('/checkout_equipment', {
               method: 'POST',
               headers: { 'Content-Type': 'application/json' },
               body: JSON.stringify({ cardID: cardID, equipmentID: equipmentID })
            })
            .then(response => response.json())
            .then(data => alert(data.message))
            .catch(error => console.error('Error:', error));
         });
      });
   </script>
</body>
</html>
