<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facility Reservation</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h3 class="appName">DKU Sports Complex DB</h3>

    <div class="tabBar">
        <button class="tabButton"><a href="index.html">Equipment Check-Out</a></button>
        <button class="tabButton current">Facility Reservations</button>
    </div>

    <h1>Equipment Check-Out</h1>
</body>
</html>